.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 45px;
}

.searchSection {
  flex: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

input,
button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  font-size: 22px;
}

input {
  padding-left: 10px;
}

button {
  cursor: pointer;
}

.searchedGames {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  align-content: center;
  border-radius: 7px;
  background-color: white;
  color: black;
  padding: 10px;
}
.games img {
  width: 70%;
  margin-top: 10px;
}

.dealsSection {
  width: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealsContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.deal {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  width: 300px;
  height: 500px;
  border-radius: 7px;
  color: white;
}

.deal img {
  width: 80%;
}

.normalPrice {
  text-decoration-line: line-through;
}
